<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="text-center mb-4">New Post</h2>
      <%= form_with(model: post, local: true) do |form| %>
        <% if post.errors.any? %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <h4 class="alert-heading">
              <i class="fas fa-exclamation-circle"></i>
              <%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:
            </h4>
            <ul class="mb-0">
              <% post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %>
        <div class="form-group">
          <%= form.label :title, class: 'font-weight-bold' %>
          <%= form.text_field :title, class: 'form-control form-control-lg', placeholder: "Enter the title here" %>
        </div>
        <div class="form-group">
          <%= form.label :body, class: 'font-weight-bold' %>
          <%= form.text_area :body, class: 'form-control', placeholder: "Write the post content", rows: 10 %>
        </div>
        <div class="d-flex justify-content-end">
          <%= form.submit 'Publish', class: 'btn btn-primary btn-lg px-4' %>
        </div>
      <% end %>
      <div class="d-flex justify-content-between mt-3">
        <%= link_to 'Show', post_path(post), class: "btn btn-outline-primary" %>
        <% if post.user == current_user %>
          <%= link_to 'Edit', edit_post_path(post), class: "btn btn-primary" %>
          <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal-<%= post.id %>">
            Delete
          </button>
        <% end %>
      </div>
      <% if post.user == current_user %>
        <div class="modal fade" id="deleteModal-<%= post.id %>" tabindex="-1" aria-labelledby="deleteModalLabel-<%= post.id %>" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel-<%= post.id %>">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Are you sure you want to delete this post?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <%= link_to 'Delete', post, method: :delete, class: "btn btn-danger" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
