<div class="container my-5">
  <div class="content-wrapper p-4 bg-white rounded shadow-sm">
    <h1 class="mb-4 text-center">New Post</h1>
    <%= form_with(model: @post, local: true) do |form| %>
      <% if @post.errors.any? %>
        <div id="error_explanation" class="alert alert-danger">
          <h2><%= pluralize(@post.errors.count, "error") %> prevented this post from being saved:</h2>
          <ul>
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="mb-3">
        <%= form.label :title, class: "form-label" %>
        <%= form.text_field :title, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= form.label :body, class: "form-label" %>
        <%= form.text_area :body, class: "form-control" %>
      </div>
      <br>
      <div class="d-grid gap-2">
        <%= form.submit "Create Post", class: "btn btn-primary" %>
        <%= link_to 'Back', posts_path, class: "btn btn-warning mt-3" %>
      </div>
    <% end %>
    
  </div>
</div>
