<!DOCTYPE html>
<html>
<head>
  <title>MiniBlog</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
</head>

<body>
  <div class="container">
    <% if user_signed_in? %>
      <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Login", new_user_session_path %> |
      <%= link_to "Registrar", new_user_registration_path %>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>
